{% extends "mtn/base.html" %}

{% block content %}

  <div>
    <a href="{% url 'mtn:order' order_id %}" class="btn btn-primary btn-sm" role="button">&nbspBack&nbsp</a>
  </div>
  <br>

  <form method="POST" action=".">
  {% csrf_token %}
    <div class="row">
      <ul>
        {% for object in object_list %}
          {%if object.marked_to_delete %}
            <li>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="marked_to_delete" value={{ object.pk }} checked>
                <label class="form-check-label">{{ object.part.partnum }}  (x{{ object.amount_used }})</label>
              </div>
            </li>
          {% else %}
            <li>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="marked_to_delete" value={{ object.pk }}>
                <label class="form-check-label">{{ object.part.partnum }}  (x{{ object.amount_used }})</label>
              </div>
            </li>
          {% endif %}
        {% empty %}
          <b>No parts marked for deletion.
        {% endfor %}
      </ul>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Mark selected for deletion</button>
  </form>

{% endblock content %}
