{% extends "mtn/base.html" %}

{% block left-menu %}

  <ul>
    <li>
      <a href="{% url 'mtn:order' order_id %}" role="button" class="side-menu-link">Back</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'mtn:order-list' %}">Work orders</a></li>
        <li class="breadcrumb-item"><a href="{% url 'mtn:order' order_id %}">Order</a></li>
        <li class="breadcrumb-item active">Delete parts</li>
    </ol>
  </div>
  <h4 class="page-title">Delete parts from MWO No. {{ order_id }}</h4>

{% endblock page-title %}

{% block content %}

  <form method="POST" action=".">
  {% csrf_token %}
    <div class="row">
      <ul>
        {% for object in object_list %}
          {%if object.marked_to_delete %}
            <li>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="marked_to_delete" value={{ object.pk }} checked>
                <label class="form-check-label">{{ object.part.partnum }}  (x{{ object.amount_used }})</label>
              </div>
            </li>
          {% else %}
            <li>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="marked_to_delete" value={{ object.pk }}>
                <label class="form-check-label">{{ object.part.partnum }}  (x{{ object.amount_used }})</label>
              </div>
            </li>
          {% endif %}
        {% empty %}
          <b>No parts marked for deletion.
        {% endfor %}
      </ul>
    </div>
    <br>
    <button type="submit" class="btn btn-rahco">Mark selected for deletion</button>
  </form>

{% endblock content %}
