{% extends "mtn/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

  <div>
    <a href="{% url 'invent:part' part.id %}" class="btn btn-primary btn-sm" role="button">&nbspBack&nbsp</a>
  </div>
  <br>

  <form action="{% url 'invent:edit_part' part.id %}" method='post'>
  {% csrf_token %}
    <div class="container fluid">
      <div class="row">
        <div class="col-sm">
          {{ form.partnum|as_crispy_field }}
        </div>
        <div class="col-sm">
          {{ form.amount|as_crispy_field }}
        </div>
        <div class="col-sm">
          {{ form.price|as_crispy_field }}
        </div>
        <div class="col-sm">
          {{ form.unit|as_crispy_field }}
        </div>
        <div class="col-sm">
          {{ form.vendr|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.cat|as_crispy_field }}
        </div>
        <br>
      </div>
      <div class="row">
        <div class="col">
          {{ form.descr|as_crispy_field }}
      </div>
    </div>
    <br>
    <button name="submit" role="button" class="btn btn-primary btn-sm btn-block">Save Changes</button>
    <br>
    <br>
  </form>

{% endblock content %}
