{% extends "mtn/base.html" %}

{% load crispy_forms_tags %}

{% block left-menu %}

  <ul>
    <li>
      <a href="{% url 'invent:part' part.id %}" class="side-menu-link" role="button">Back</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block content %}

  <form action="{% url 'invent:edit_part' part.id %}" method='post'>
  {% csrf_token %}
    <div class="container fluid">
      <div class="row">
        <div class="col-sm">
          {{ form.partnum|as_crispy_field }}
        </div>
        <div class="col-sm">
          {{ form.amount|as_crispy_field }}
        </div>
        <div class="col-sm">
          {{ form.price|as_crispy_field }}
        </div>
        <div class="col-sm">
          {{ form.unit|as_crispy_field }}
        </div>
        <div class="col-sm">
          {{ form.vendr|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.cat|as_crispy_field }}
        </div>
        <br>
      </div>
      <div class="row">
        <div class="col">
          {{ form.descr|as_crispy_field }}
      </div>
    </div>
    <br>
    <button name="submit" role="button" class="btn btn-rahco">Save Changes</button>
  </form>

{% endblock content %}
