{% extends "mtn/base.html" %}

{% block content %}

  <div>
    <a href="{% url 'invent:new_part' %}" class="btn btn-primary btn-lg 
      btn-block" role="button">Create New Inventory Item</a>
      <a href="{% url 'invent:new_vendor' %}" class="btn btn-primary btn-lg 
      btn-block" role="button">Add Vendor</a>
    <br>
  </div>

    <div class="container">
    
    <form method='GET'>
      {{ filter.form }}
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    
    <ul>
      {% for part in filter.qs %}
        <li>
          <a href="{% url 'invent:part-list' %}">{{ part.partnum }}</a>
        </li>
      {% endfor %}
    </ul>
    
    </div>

	
{% endblock content %}



