{% extends "mtn/base.html" %}
{% load mtn_extras %}

{% block left-menu %}

  <ul>
    <li>
      <a href="" onClick="window.history.back();return false;" class="side-menu-link" role="button">Back</a>
    </li>
    {% if request.user|has_group:"maintenance" %}
      <li>
        <a href="{% url 'invent:edit_part' part.id %}" role="button" class="side-menu-link">Edit part</a>
      </li>
      <li>
        <a href="{% url 'invent:upload' part.id %}" class="side-menu-link" role="button">Upload</a>
      </li>
    {% endif %}
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'invent:partlist' %}">Parts</a></li>
        <li class="breadcrumb-item active">Part</li>
    </ol>
  </div>
  <h4 class="page-title">Part No. {{ part.partnum }}</h4>

{% endblock page-title %}

{% block content %}

  <div class="row">
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-header"><b>Part Number:</b></div>
        <div class="card-body">
          <p class="card-text">{{ part.partnum }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-header"><b>Equipment:</b></div>
        <div class="card-body">
          <p class="card-text">
            {% for cat in part.cat.all %}
              <a href="{% url 'equip:press' cat.id %}">{{ cat }},&nbsp</a>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-header"><b>Amount in stock:</b></div>
        <div class="card-body">
          <p class="card-text">{{ part.amount }} {{ part.unit }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-header"><b>Price:</b></div>
        <div class="card-body">
          <p class="card-text">$ {{ part.price }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xl-6">
      <div class="card">
        <div class="card-header"><b>Description:</b></div>
        <div class="card-body">
          <p class="card-text">{{ part.descr }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-header"><b>Vendors:</b></div>
        <div class="card-body">
          <p class="card-text">
            {% for vendor in part.vendr.all %}
              <a href="{% url 'invent:vendor' vendor.id %}">{{ vendor }},&nbsp</a>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-header"><b>Uploads:</b></div>
        <div class="card-body">
          <p class="card-text">
            {% if uploads %}
              {% for upload in uploads %}
                <a href='{{ MEDIA_URL }}{{ upload.file.url }}'>{{ upload.descr }},&nbsp</a>
              {% endfor %}
            {% else %}
              <span>No uploads</span>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
