{% extends "mtn/base.html" %}

<script>
  {% block jquery %}

    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });

    $("#vendorSelect").change(function() {
      document.getElementById('selectform').submit();
    });

  {% endblock %}
</script>

{% block left-menu %}

  <ul>
    <li>
      <a href="{% url 'invent:new_part' %}" class="side-menu-link" role="button">+ New part</a>
    </li>
    <li>
      <a href="{% url 'invent:vendor-list' %}" class="side-menu-link" role="button">Vendors</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item active">Parts</li>
    </ol>
  </div>
  <h4 class="page-title">Inventory</h4>

{% endblock page-title %}

{% block content %}

  <form method="GET" action="." id="selectform">
    <div class="form-row">
      <div class="form-group col align-self-center">
        <input class="form-conrol py-2 border" style="border-radius:5px; width:20rem;" type="search" placeholder=" Find part" name="query" value="{{ query|default:'' }}">
      </div>
      <div class="form-group col align-self-center">
        <select class="form-control" name="vendor" id="vendorSelect">
          <option selected>{{ vendor|default:"Choose vendor..." }}</option>
          {% if vendor != "All vendors" %}
            <option>All vendors</option>
          {% endif %}
          {% for vendor in vendors %}
              <option value="{{ vendor }}">{{ vendor }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col align-self-center ml-4">
       <button type="submit" class="btn btn-rahco">Search</button>
      </div>
    </div>
  </form>

  {% if query is not None or vendor is not None and vendor != 'All vendors' %}
    <div class='row my-3'>
        <div class='col-12 py-0'>
          {% if vendor == "Choose vendor..." %}
            <h4 class='my-0 py-0'>{{ count }} results for <b>{{ query|default:"All part numbers" }}</b> and <b>All vendors</b></h3>
          {% else %}
            <h4 class='my-0 py-0'>{{ count }} results for <b>{{ query|default:"All part numbers" }}</b> and <b>{{ vendor|default:"All vendors" }}</b></h3>
          {% endif %}
        </div>
    </div>
  {% endif %}

  <div class="container-fluid justify-content-start ml-1 mt-4" style="background-color:white;">
    <table>
      {% for object in object_list %}
        <tr class='clickable-row row border' data-href="{% url 'invent:part' object.id %}">
          <th class="col-2 border-right text-nowrap text-truncate">
              {{ object.partnum }}
          </th>
          <th class="col text-nowrap text-truncate">
            {{ object.descr }}
          </th>
        </tr>
      {% endfor %}
    </table>
  </div>

<!--   <div class="container justify-content-start ml-1 mt-4" style="background-color:white;">
    {% for object in object_list %}
      <a href="{% url 'invent:part' object.id %}">
        <div class="row border">
          <div class="col-2 border-right text-nowrap text-truncate">
            <span>{{ object.partnum }}</span>
          </div>
          <div class="col text-nowrap text-truncate">
            {{ object.descr }}
          </div>
        </div>
      </a>
    {% endfor %}
  </div> -->

  <br>
  <div class="container">
    <div class="row justify-content-center">
      {% if page_obj.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation example" style="background-color: #fafbfe;">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ page_kwargs }}" aria-label="Previous">
                  <span>{{ page_obj.previous_page_number }}</span>
                </a>
              </li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}&{{ page_kwargs }}"><span>{{ page_obj.number }}</span></a></li>
           {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ page_kwargs }}" aria-label="Next">
                  <span>{{ page_obj.next_page_number }}</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ page_kwargs }}" aria-label="Last">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>

{% endblock content %}
