{% extends "mtn/base.html" %}

{% load poll_extras %}

{% block left-menu %}

  <ul>
    <li>
      <a href="" onClick="window.history.back();return false;" class="side-menu-link" role="button">Back</a>
    </li>
    <li>
      {% if request.user|has_group:"maintenance" %}
        <a href="{% url 'invent:edit_part' part.id %}" role="button" class="side-menu-link">Edit part</a>
      {% endif %}
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'invent:partlist' %}">Parts</a></li>
        <li class="breadcrumb-item active">Part</li>
    </ol>
  </div>
  <h4 class="page-title">Part No. {{ part.partnum }}</h4>

{% endblock page-title %}

{% block content %}

  <div class="container break-text">
    <div class="row">
      <div class="col-sm">
        <b>Part Number:</b>
        <p>{{ part.partnum }}
      </div>
      <div class="col">
        <b>Category:</b>
        <p>
        {% for cat in part.cat.all %}
          <span>{{ cat }},&nbsp</span>
        {% endfor %}
      </div>
      <div class="col-sm">
        <b>Amount in stock:</b>
        <p>{{ part.amount }} {{ part.unit }}
      </div>
      <div class="col-sm">
        <b>Price:</b>
        <p>$ {{ part.price }}
      </div>
      <div class="col-sm">
        <b>Vendors:</b>
        <p>
        {% for vendor in part.vendr.all %}
          <span>{{ vendor }},&nbsp</span>
        {% endfor %}
      </div>
      <br>
    </div>
    <div class="row">
      <div class="col">
        <b>Description:</b>
        <p>{{ part.descr }}
      </div>
    </div>
  </div>
  <br>

{% endblock content %}
