{% extends "mtn/base.html" %}

{% block left-menu %}

  <ul>
    <li>
      <a href="{% url 'mtn:order' order_id %}" role="button" class="side-menu-link">Back</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'mtn:order-list' %}">Work orders</a></li>
        <li class="breadcrumb-item"><a href="{% url 'mtn:order' order_id %}">Order</a></li>
        <li class="breadcrumb-item active">Add part</li>
    </ol>
  </div>
  <h4 class="page-title">Add part to MWO No. {{ order_id }}</h4>

{% endblock page-title %}

{% block content %}

  <form method="GET" action=".">
    <div class="form-row justify-content-start">
      <div class="form-group col align-self-center">
        <input class="form-conrol py-2 border" style="border-radius:5px; width:20rem;" type="search" placeholder="Search by part number" name="query" value="{{ query|default:"" }}">
      </div>
      <div class="form-group col align-self-center">
        <select class="form-control" name="by_vendor">
          <option selected>{{ by_vendor|default:"Choose vendor..." }}</option>
          {% if by_vendor != "All vendors" %}
            <option>All vendors</option>
          {% endif %}
          {% for vendor in vendors %}
              <option value="{{ vendor }}">{{ vendor }}</option>
          {% endfor %}
        </select>
      </div>
      {% if press_checked %}
        <div class="form-group form-check align-self-center ml-3">
          <input type="checkbox" class="form-check-input" name="press" checked>
          <label class="form-check-label" for="exampleCheck1">Filter by press</label>
        </div>
      {% else %}
        <div class="form-group form-check align-self-center ml-3">
          <input type="checkbox" class="form-check-input" name="press">
          <label class="form-check-label" for="exampleCheck1">Filter by press</label>
        </div>
      {% endif %}
      <div class="form-group col align-self-center ml-4">
       <button type="submit" class="btn btn-rahco">Search</button>
      </div>
    </div>
  </form>

  <form method="POST" action=".">
  {% csrf_token %}
    <div class="form-row">
      <div class="col-2">
        <label for="id_amount" class="requiredField"><b>Amount: </b></label>
        <input type="number" name="amount" value="0" min="1" max=object.amount class="numberinput form-control" required>
      </div>
      <div class="col-2 align-self-end ml-3">
        <button name="submit" role="button" class="btn btn-rahco btn-block">Add part</button>
      </div>
    </div>
    <br>
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></li>
          {% endfor %}
      </ul>
    {% endif %}
    <br>
    <div class="row">
      <ul>
        {% for object in object_list %}
          <div class="form-check">
            <input class="form-check-input" type="radio" name="used_part" value={{ object.pk }} required>
            <label class="form-check-label">
              {{ object.partnum }} (x{{ object.amount }})
            </label>
          </div>
        {% endfor %}
      </ul>
    </div>
  </form>



{% endblock content %}
