{% extends "mtn/base.html" %}

{% block left-menu %}

  <ul>
    <li>
      <form method="GET" action=".">
      {% csrf_token %}
        <input type="hidden" name="check_marked" value=False>
        <button type="submit" class="side-menu-link">Show all</button>
      </form>
    </li>
    <li>
      <form method="GET" action=".">
        {% csrf_token %}
        <input type="hidden" name="check_marked" value=True>
        <button type="submit" class="side-menu-link">Show marked</button>
      </form>
    </li>
  </ul>

{% endblock left-menu %}

{% block content %}

  <div class="form-row justify-content-start">
    <div class="form-group col-md-6 align-self-left">
      <form method="POST" action=".">
      {% csrf_token %}
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="delete_confirm" value=True>
          <label class="form-check-label" for="exampleCheck1">Deletion can't be reversed. Confirm to proceed.</label>
        </div>
        <button type="submit" class="btn btn-rahco">Delete marked</button>
      </form>
    </div>
  </div>

  <br>
  {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></li>
          {% endfor %}
      </ul>
  {% endif %}

  <div class="row">
    <ul>
      {% for object in object_list %}
        <li>
         {{ object.order}} - {{ object.part.partnum }} - {{ object.marked_to_delete}}
        </li>
      {% empty %}
        <li>No parts marked for deletion.</li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}
