dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.5
django-appconf==1.0.4
django-bootstrap3==12.0.3
django-bootstrap4==1.1.1
django-crispy-forms==1.9.0
django-jquery==3.1.0
django-tables2==2.3.1
django-tempus-dominus==5.1.2.13
djangorestframework==3.11.0
gunicorn==20.0.4
static3==0.7.0
psycopg2==2.8.4
oauth==1.0.1
pytz==2019.3
requests==2.18.4
requests-unixsocket==0.1.5
