a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #336699;
  text-decoration: inherit;
}

body {
  font-family: Nunito,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585757;
  background-color: white;
}

img {
  max-width: 100%;
  object-fit: cover;
}

nav {
  background-color: #336699;
}

svg rect:hover {
  /*cursor: pointer;*/
}

svg .ready {
  fill: green!important;
}
svg .production {
  fill: purple!important;
}
svg .out_of_order {
  fill: red!important;
}
svg .maintenance {
  fill: yellow!important;
}
svg .awaiting_parts {
  fill: blue!important;
}

svg tspan {
  fill: white!important;
  font-size: 6px;
  /*cursor: pointer;*/
}

svg text {
  text-align: center;
  width: 75%;
}

ul {
  list-style-type: none;
}

.breadcrumb {
  background-color:inherit;
}

.breadcrumb-item {
  color: #336699;
}

.breadcrumb-item+.breadcrumb-item::before {
  padding-right: 0.3rem;
  color: inherit;
  content: ">";
}

.btn-rahco {
  color: white;
  background-color: #336699;
  border-color: #2e6da4;
}

.btn-rahco:hover {
  color: white;
  background-color: #164979;
}

.clickable-row:hover {
  color: #336699;
  text-decoration: inherit;
  cursor: pointer;
}

.container-fluid {
  padding-left: 0!important;
}

.content-page {
  padding-top: 20px;
  margin-left: 200px;
  padding-left: 30px;
}

.left-side-menu {
  width: 180px;
  height:100%;
  padding-top: 110px;
  margin-top: 0;
  background: #fafbfe;
  /*background-image: linear-gradient(to right, white, #fafbfe);*/
  border-right-style: double;
  border-width: 1px;
  border-color: rgb(180, 180, 180, 0.2);
}

.left-side-menu ul {
  padding-left: 25px;
}

.nav-link {
  font-size: 1.2rem;
  white-space: nowrap;
}

.nav navbar-right {
}

.order-status {
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 5px yellow;
}

.page-title-box .page-title {
  font-size: 1.3rem !important;
}

.repair {
  background-color:#6A686B;
  color: white;
}

.side-menu-link {
  font-size: 1.3rem;
  color: inherit;
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  text-decoration: none !important;
}

.side-menu-link:hover {
  color: #336699 !important;
}

.supervisor {
  background-color:#E8E8E8;
}

.text-title {
    color: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr {
  margin-bottom: -1px;
}

tr:nth-child(odd) {
  background-color: #fafbfe;
}












