a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #336699;
  text-decoration: inherit;
}

body {
  font-family: Nunito,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585757;
  background-color: #fafbfe;
}

img {
  max-width: 100%;
  object-fit: cover;
}

nav {
  background-color: #336699;
}

ul {
  list-style-type: none;
}

.breadcrumb {
  background-color:inherit;
}

.breadcrumb-item {
  color: #336699;
}

.breadcrumb-item+.breadcrumb-item::before {
  padding-right: 0.3rem;
  color: inherit;
  content: ">";
}

.btn-rahco {
  color: white;
  background-color: #336699;
  border-color: #2e6da4;
}

.btn-rahco:hover {
  color: white;
  background-color: #164979;
}

.content-page {
  padding-top: 10px;
  margin-left: 200px;
  padding-left: 30px;
}

.left-side-menu {
  width: 200px;
  padding-top: 10px;
  margin-top: 100px;
  background-image: linear-gradient(to bottom, white, #fafbfe);
  border-radius: 10px;
}

.nav-link {
  font-size: 1.2rem;
}

.page-title-box .page-title {
  font-size: 1.3rem !important;
}

.repair {
  background-color:#6A686B;
  color: white;
}

.side-menu-link {
  font-size: 1.3rem;
  color: inherit;
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  text-decoration: none !important;
}

.side-menu-link:hover {
  color: #336699 !important;
}

.supervisor {
  background-color:#E8E8E8;
}

.text-title {
    color: inherit;
}














