{% extends "mtn/base.html" %}

<script>
  {% block jquery %}


   {% endblock %}
</script>

{% block left-menu %}
<ul>
  <li>
    <a href="" onClick="window.history.back();return false;" class="side-menu-link" role="button">Back</a>
  </li>
</ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item active">Calendar</li>
    </ol>
  </div>
  <h4 class="page-title">Calendar</h4>

{% endblock page-title %}

{% block content %}

  <div class="clearfix">
    <a class="btn-cal btn-info left" href="{% url 'equip:calendar' %}?{{ prev_month }}"> Previous Month </a>
    <a class="btn-cal btn-info right" href="{% url 'equip:calendar' %}?{{ next_month }}"> Next Month </a>
  </div>
  {{ calendar }}

{% endblock content %}

