{% extends "mtn/base.html" %}

<script>
  {% block jquery %}

    function drawMap(data){
      const impData = JSON.parse(data.impsDict);
      const statusData = data.statusDict;
      const spanData = data.spanDict;
      const nameData = data.nameDict;
      var svgMap = document.getElementsByClassName('container-fluid')[1].lastElementChild;
      for (i = 0; i < impData.length; i++) {
        var press = impData[i]["fields"]["press"];
        var width = impData[i]["fields"]["width"];
        var height = impData[i]["fields"]["height"];
        var x = impData[i]["fields"]["x"];
        var y = impData[i]["fields"]["y"];
        var a = document.createElementNS("http://www.w3.org/2000/svg", "a");
        a.setAttribute('href', "/equipment/press/" + press);
        a.setAttribute('data-toggle', "tooltip");
        a.setAttribute('container', "body");
        svgMap.appendChild(a);
        var rect = document.createElementNS("http://www.w3.org/2000/svg", "rect");
        rect.setAttribute('id', 'rect' + press);
        rect.setAttribute('width', width);
        rect.setAttribute('height', height);
        rect.setAttribute('x', x);
        rect.setAttribute('y', y);
        a.appendChild(rect);
        var txt = document.createElementNS("http://www.w3.org/2000/svg", "text");
        txt.setAttribute('id', 'text' + press);
        txt.setAttribute('width', width);
        txt.setAttribute('height', height);
        txt.setAttribute('y', y + height - (height - 4) / 2);
        a.appendChild(txt);
        var tsp = document.createElementNS("http://www.w3.org/2000/svg", "tspan");
        txt.appendChild(tsp);
        for (const [key, value] of Object.entries(spanData)) {
          if(impData[i]["fields"]["press"] == key){
            tsp.innerHTML = value;
            var size = tsp.getComputedTextLength();
            txt.setAttribute('x', x + width / 2 - size / 2);
          };
        };
        for (const [key, value] of Object.entries(nameData)) {
          if(impData[i]["fields"]["press"] == key){
            a.setAttribute('title', value);
          };
        };
        for (const [key, value] of Object.entries(statusData)) {
          if(impData[i]["fields"]["press"] == key){
            rect.classList.add(value.toLowerCase().replace(/ /g,"_"));
            var old_tooltip = a.getAttribute('title');
            var new_tooltip = old_tooltip + ': ' + value;
            a.setAttribute('title', new_tooltip);
          };
        };
      };
      $('[data-toggle="tooltip"]').tooltip()
    };

    $.ajax({
      method: "GET",
      url: "{% url 'equip:map-data' %}",
      data: {
        // "imprintArray" : JSON.stringify(imprintArray),
      },
      success: function(data){
        drawMap(data)
      },
      error: function(error_data){
        console.log(error_data)
      }
    });

   {% endblock %}
</script>

{% block left-menu %}

  <ul>
    <li>
      <a href="{% url 'equip:presslist' %}" class="side-menu-link" role="button">List View</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item active">Map</li>
    </ol>
  </div>
  <h4 class="page-title">Floor map</h4>

{% endblock page-title %}

{% block content %}

  <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="1120.0001" height="859.99994" viewBox="0 0 296.33332 227.54167" version="1.1" id="svgMap" inkscape:version="1.0 (1.0+r73+1)" sodipodi:docname="map.svg"></svg>

{% endblock content %}

