{% extends "mtn/base.html" %}



<script>
  {% block jquery %}

    $("#sidebarBlock").hide();

    var press = document.querySelectorAll("rect");
    var presses = [];
    var endpoint = "{% url 'equip:map-data' %}"

    for (i = 0; i < press.length; i++) {
      // press[i].addEventListener("click", pressOnClick);
      presses.push(parseInt(press[i].getAttribute("press")));
    }

    $.ajax({
      method: "GET",
      url: endpoint,
      data: { 'presses' : presses,  },
      success: function(qs_json){
          console.log(qs_json)
      },
      error: function(error_data){
        console.log(error_data)
      }
    })

   {% endblock %}
</script>

{% block left-menu %}{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item active">Map</li>
    </ol>
  </div>
  <h4 class="page-title">Floor map</h4>

{% endblock page-title %}

{% block content %}

  <img>{% include 'equip/elements/map.svg'%}</img>

{% endblock content %}



