{% extends "mtn/base.html" %}
{% load crispy_forms_tags %}

{% block left-menu %}

 <ul>
  <li>
    <a href="" onClick="window.history.back();return false;" class="side-menu-link" role="button">Back</a>
  </li>
</ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'equip:presslist' %}">Equipment</a></li>
        <li class="breadcrumb-item"><a href="{% url 'equip:press' press_id %}">Item</a></li>
        <li class="breadcrumb-item active">Add PM</li>
    </ol>
  </div>
  <h4 class="page-title">Add PM for {{ press }}</h4>

{% endblock page-title %}

{% block content %}

    <form action="{% url 'equip:add-pm' press_id %}" method='post'>
    {% csrf_token %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          {{ form.descr|as_crispy_field }}
        </div>
        <div class="col-sm-2" id="localField">
          {{ form.freq|as_crispy_field }}
        </div>
        <div class="col-sm-3" id="moldField">
          {{ form.pm_part|as_crispy_field }}
        </div>
        <div class="col-sm-2">
          {{ form.pm_part_amount|as_crispy_field }}
        </div>
      </div>
    </div>
    <br>
    <button name="submit" role="button" class="btn btn-rahco">Add</button>
  </form>

{% endblock content %}
