{% extends "mtn/base.html" %}

{% load poll_extras %}

{% block left-menu %}

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item active">Equipment</li>
    </ol>
  </div>
  <h4 class="page-title">Equipment</h4>

{% endblock page-title %}

{% block content %}

<div class="container justify-content-start">
    {% for object in object_list %}
        <div class="row border justify-content-start" style="width:500px; background-color:white;">
          <div class="col-8 border-right text-nowrap text-truncate align-self-center my-2">
            <a href="{% url 'equip:press' object.id %}">{{ object.pname }}</a>
          </div>
           <div class="col-3 border-right text-nowrap text-truncate align-self-center">
            <span>{{ object.get_group_display }}</span>
          </div>
          <div class="col-1 align-self-center px-2">
            {% if object.id|press_status == "RE" %}
              <div class="badge badge-danger">Out of Order</div>
            {% elif object.id|press_status == "ST" %}
              <div class="badge badge-warning">Setup Due</div>
            {% elif object.id|press_status == "PM" %}
              <div class="badge badge-info">PM Due</div>
            {% else %}
              <div class="badge badge-success py-2 ">OK</div>
            {% endif %}
          </div>
        </div>
    {% endfor %}
  </div>

  <br>
  <div class="container">
    <div class="row justify-content-center">
      {% if page_obj.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation example" style="background-color: #fafbfe;">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span>{{ page_obj.previous_page_number }}</span>
                </a>
              </li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}"><span>{{ page_obj.number }}</span></a></li>
           {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span>{{ page_obj.next_page_number }}</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>

{% endblock content %}



