{% extends "mtn/base.html" %}
{% load mtn_extras %}

<script>
  {% block jquery %}

    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });

  {% endblock %}
</script>

{% block left-menu %}

  <ul>
    <li>
      <a href="{% url 'equip:press' press_id %}" class="side-menu-link" role="button">Back</a>
    </li>
    {% if request.user|has_group:"supervisor" or request.user|has_group:"maintenance" %}
      <li>
        <a href="{% url 'equip:pmsched' press_id %}" class="side-menu-link" role="button">Schedule</a>
      </li>
    {% endif %}
    {% if request.user|has_group:"maintenance" %}
      <li>
        <a href="{% url 'equip:add-pm' press_id %}" class="side-menu-link" role="button">Add PM</a>
      </li>
    {% endif %}
    <li>
      <a href="{% url 'equip:calendar' %}" class="side-menu-link" role="button">Calendar</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'equip:presslist' %}">Equipment</a></li>
        <li class="breadcrumb-item"><a href="{% url 'equip:press' press_id %}">Item</a></li>
        <li class="breadcrumb-item active">PM</li>
    </ol>
  </div>
  <h4 class="page-title">PM list for {{press }}</h4>

{% endblock page-title %}

{% block content %}


  <div class="container justify-content-start ml-1">
    <table>
      {% for object in object_list %}
        {% if request.user|has_group:"maintenance" %}
          <tr class="clickable-row row border justify-content-start" data-href="{% url 'equip:update-pm' object.id %}" style="width:900px;">
        {% else %}
          <tr class="row border justify-content-start" style="width:900px;">
        {% endif %}
          <th class="col border-right text-nowrap text-truncate align-self-center my-2">
            {{ object.descr }} {% if object.pm_part %}{{ object.pm_part.partnum }} x{{ object.pm_part_amount }}{% endif %}
          </th>
          <th class="col-2 border-right text-nowrap text-truncate align-self-center">
            {{ object.hours_left }}
          </th>
          <th class="col-3 border-right text-nowrap text-truncate align-self-center">
            {{ object.in_stock }}
          </th>
        </tr>
      {% endfor %}
    </table>
  </div>


{% endblock content %}



