{% extends "mtn/base.html" %}
{% load mtn_extras %}

<script>
  {% block jquery %}

    var endpoint = "{% url 'equip:chart-data' press.id %}"
    var defaultData =[]
    var labels = [];

    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data){
        labels = data.labels
        defaultData = data.default
        phs = data.phs
        setChart()
        console.log(phs)
      },
      error: function(error_data){
        console.log(error_data)
      }
    })

    function setChart(){
      var ctx = document.getElementById('DowntimeChart').getContext('2d');
      var chart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [
              {
                  label: 'Downtime, h',
                  backgroundColor: 'rgb(255, 99, 132, 0.2)',
                  borderColor: 'rgb(255, 99, 132, 1)',
                  borderWidth: 1,
                  data: defaultData,
              },
              {
                  label: 'Production, h',
                  backgroundColor: 'rgb(20, 218, 32, 0.2)',
                  borderColor: 'rgb(20, 218, 32, 1)',
                  borderWidth: 1,
                  data: phs,
              },
              ]
          },
          options: {
            scales: {
              yAxes: [{
                id: 'left-y-axis',
                type: 'logarithmic',
                position: 'left',
                ticks: {
                  beginAtZero: true,
                  // min: 1,
                  maxTicksLimit: 9,
                  callback: function(tick, index, ticks) {
                    return tick.toLocaleString()
                  }
                },
              }]
            }
          }
      });
    }

  {% endblock %}
</script>

{% block left-menu %}

  <ul>
    <li>
      <a href="" onClick="window.history.back();return false;" class="side-menu-link" role="button">Back</a>
    </li>
    <li>
      <a href="{% url 'mtn:new_order' press.id %}" class="side-menu-link" role="button">+ New Order</a>
    </li>
    <li>
      <a href="{% url 'equip:press-orders' press.id %}?closed=on" class="side-menu-link" role="button">Orders</a>
    </li>

    {% if request.user|has_group:"maintenance" %}
      <li>
        <a href="{% url 'equip:notes' press.id %}" class="side-menu-link" role="button">Manage</a>
      </li>
      <li>
        <a href="{% url 'equip:upload' press.id %}" class="side-menu-link" role="button">Upload</a>
      </li>
    {% endif %}
    {% if request.user|has_group:"supervisor" or request.user|has_group:"maintenance" %}
      {% if press.pmed %}
        <li>
          <a href="{% url 'equip:press-pm' press.id %}" class="side-menu-link" role="button">PM</a>
        </li>
      {% endif %}
    {% endif %}
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'equip:presslist' %}">Equipment</a></li>
        <li class="breadcrumb-item active">Item</li>
    </ol>
  </div>
  <h4 class="page-title">{{ press }}</h4>

{% endblock page-title %}

{% block content %}

  <div class="row">

    <div class="col-5">
      {% if press.pmed %}
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="header-title mb-3"><b>PM --- Last: {{ object.last_pm }}</b></div>
              <div class="chart-content-bg text-start">
                <div class="container justify-content-start">
                  <table>
                    {% for object in pmprocs %}
                      <tr class="row border justify-content-start">
                        <th class="col border-right text-nowrap text-truncate align-self-center">
                          {{ object.descr }}
                        </th>
                        <th class="col-3 border-right text-nowrap text-truncate align-self-center">
                          {{ object.hours_left }}
                        </th>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="header-title mb-3"><b>Notes:</b></div>
            <div class="chart-content-bg text-start">
              <h4 class="font-weight-normal mb-0">
                {% if press.notes %}
                  <span>{{ press.notes }}</span>
                {% else %}
                  <span>No notes</span>
                {% endif %}
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="header-title mb-3"><b>Contacts:</b></div>
            <div class="chart-content-bg text-start">
              <h4 class="font-weight-normal mb-0">
                {% if press.contacts %}
                  <span>{{ press.contacts }}</span>
                {% else %}
                  <span>No contacts</span>
                {% endif %}
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="header-title mb-3"><b>Uploads:</b></div>
            <div class="chart-content-bg text-start">
              <h4 class="font-weight-normal mb-0">
                {% if uploads %}
                  {% for upload in uploads %}
                    <p><a href='{{ MEDIA_URL }}{{ upload.file.url }}'>{{ upload.descr }}</a></p>
                  {% endfor %}
                {% else %}
                  <span>No uploads</span>
                {% endif %}
              </h4>
            </div>
          </div>
        </div>
      </div>
      {% if parts %}
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="header-title mb-3"><b>Parts:</b></div>
              <div class="chart-content-bg text-start">
                <h4 class="font-weight-normal mb-0">
                  {% for part in parts %}
                    <a href="{% url 'invent:part' part.id %}">{{ part }},&nbsp</a>
                  {% endfor %}
                </h4>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="col-lg-7">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-3">Downtime</h4>
          <div class="chart-content-bg">
            <div class="row text-center">
              <div class="col-md-6">
                <p class="text-muted mb-0 mt-3">Current year</p>
                <h2 class="font-weight-normal mb-3">
                  <small class="mdi mdi-checkbox-blank-circle text-primary align-middle mr-1"></small>
                  <span>{{ dts_total|floatformat }} hours</span>
                </h2>
                <h2 class="font-weight-normal mb-3">
                  <small class="mdi mdi-checkbox-blank-circle text-primary align-middle mr-1"></small>
                  <span>$ {{ cost_this_year }}</span>
                </h2>
              </div>
              <div class="col-md-6">
                <p class="text-muted mb-0 mt-3">Previous Year</p>
                <h2 class="font-weight-normal mb-3">
                  <small class="mdi mdi-checkbox-blank-circle text-success align-middle mr-1"></small>
                  <span>{{ dts_last|floatformat }} hours</span>
                </h2>
                <h2 class="font-weight-normal mb-3">
                  <small class="mdi mdi-checkbox-blank-circle text-primary align-middle mr-1"></small>
                  <span>$ {{ cost_last_year }}</span>
                </h2>
              </div>
            </div>
          </div>
          <canvas id="DowntimeChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  {% if images %}
    <div class="card">
      <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="card-header repair">
          <b>Show images</b>
        </div>
      </a>
      <div class="collapse" id="collapseExample">
        <div class="card-body">
          {% for image in images %}
          <p>
          <a href="{{ MEDIA_URL }}{{ image }}">
            <img src="{{ MEDIA_URL }}{{ image }}">
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  </div>

{% endblock content %}
