{% extends "mtn/base.html" %}

<script>
  {% block jquery %}

    var endpoint = "{% url 'equip:chart-data' press.id %}"
    var defaultData =[]
    var labels = [];

    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data){
        labels = data.labels
        defaultData = data.default
        console.log(data)
        setChart()
      },
      error: function(error_data){
        console.log("error")
        console.log(error_data)
      }
    })

    function setChart(){
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'bar',

          // The data for our dataset
          data: {
              labels: labels,
              datasets: [{
                  label: 'Downtime, h',
                  backgroundColor: 'rgb(255, 99, 132, 0.2)',
                  borderColor: 'rgb(255, 99, 132, 1)',
                  borderWidth: 1,
                  data: defaultData
              }]
          },

          // Configuration options go here
          options: {}
      });
    }

  {% endblock %}
</script>

{% block left-menu %}

  <ul>
    <li>
      <a href="{% url 'equip:presslist' %}" class="side-menu-link" role="button">Back</a>
    </li>
    <li>
      <a href="{% url 'equip:press-orders' press.id %}" class="side-menu-link" role="button">Orders</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'equip:presslist' %}">Equipment</a></li>
        <li class="breadcrumb-item active">Item</li>
    </ol>
  </div>
  <h4 class="page-title">{{ press }}</h4>

{% endblock page-title %}

{% block content %}

<div class="row">
  <div class="col-6">
    <canvas id="myChart"></canvas>
  </div>
</div>

{% endblock content %}



