{% extends "mtn/base.html" %}

{% block left-menu %}

 <ul>
  <li>
    <a href="" onClick="window.history.back();return false;" class="side-menu-link" role="button">Back</a>
  </li>
</ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item active">Upload</li>
    </ol>
  </div>
  <h4 class="page-title">Upload a file</h4>

{% endblock page-title %}

{% block content %}

    <form enctype="multipart/form-data" {% if press_id %}action="{% url 'equip:upload' press_id %}"{% else %}action="{% url 'invent:upload' part_id %}"{% endif %} method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    {% if messages %}
      <ul class="messages" style="color:red;">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></li>
          {% endfor %}
      </ul>
    {% endif %}
    <br>
    <button name="submit" role="button" class="btn btn-rahco">Upload</button>
  </form>

{% endblock content %}
