{% load static %}
{% load mtn_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>zERP</title>

    {% include 'mtn/base/favicon.html' %}
    {% include 'mtn/base/css_local.html' %}

  </head>

  <body>

    <!-- Topbar Start -->
    <nav class="navbar navbar-expand-md navbar-dark sticky-top" id="mainNavBar">
      <a class="navbar-brand" href="{% url 'mtn:index' %}">
        <img src="{% static 'img/rahco_rubber_logo-white.png' %}" width="210" height="50" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto font-weight-bold text-uppercase">
          <li class="nav-item" id="navItem1">
            <a class="nav-link" href="{% url 'mtn:order-list' %}">Work Orders</a>
          </li>
          <li class="nav-item" id="navItem2">
            <a class="nav-link" href="{% url 'invent:partlist' %}">Inventory</a>
          </li>
          </li>
          <li class="nav-item" id="navItem3">
            <a class="nav-link" href="{% url 'equip:load_map' %}">Equipment</a>
          </li>
          <li class="nav-item" id="navItem4">
            <a class="nav-link" href="{% url 'prod:job-list' %}">Production</a>
          </li>
          {% if user.is_superuser or request.user|has_group:"staffer"%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin page</a>
                <a class="dropdown-item" href="http://192.168.138.184/admin/bugs/bug/">Bugs</a>
                <!-- <a class="dropdown-item" href="{% url 'mtn:bulk-update' %}" onclick="return confirm('Are you sure?');">Bulk MWO update</a> -->
              </div>
            </li>
          {% endif %}
          {% if request.user|has_group:"utility" %}
            <li class="nav-item" id="navItem5">
              <a class="nav-link" href="{% url 'pnclk:index' %}">Punch Clock</a>
            </li>
          {% endif %}
        </ul>

        <ul class="navbar-nav navbar-right" style="color:white; white-space: nowrap;">
          {% if user.is_authenticated %}
            <li><a>Hello, {{ user.first_name }}. &nbsp</a></li>
            <li><a href="{% url 'users:logout' %}" style="color:white;">log out</a></li>
          {% else %}
            <li><a href="{% url 'users:register' %}" style="color:white;">register &nbsp</a></li>
            <li><a href="{% url 'users:login' %}" style="color:white;">log in</a></li>
          {% endif %}
          <li>
            <a class="navbar-nav ml-5" href="{% url 'bugs:report-bug' %}">
              <img src="{% static 'img/bug.png' %}" width="30" height="30" class="d-inline-block align-center" alt="">
            </a>
          </li>
        </ul>

      </div>

    </nav>
    <!-- end Topbar -->

    <!-- Start Content-->
    <div class="container-fluid">

      <!-- Begin page -->
      <div class="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu left-side-menu-detached" id="sidebarBlock">
          {% block left-menu %}{% endblock left-menu %}
        </div>
        <!-- Left Sidebar End -->

        <div class="content-page">
          <div class="content">

            <!-- start page title -->
            <div class="row" id="pagetitleBlock">
              <div class="col-12">
                <div class="page-title-box">
                  {% block page-title %}{% endblock page-title %}
                  <hr>
                </div>
              </div>
            </div>
            <!-- end page title -->

            <div class="row">
              <div class="container-fluid mt-1">
                {% block content %}{% endblock content %}
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- end page -->

    </div>
    <!-- end content -->

  {% include 'mtn/base/js_local.html' %}

  <script>

    $(document).ready(function(){

      var section = window.location.toString().replace(/^https?:\/\//, '').split('/')[1];
      if (section == "mwo" ) {
        $("#navItem1").addClass('active');
      } else if (section == "inventory" ) {
        $("#navItem2").addClass('active');
      } else if (section == "equipment" ) {
        $("#navItem3").addClass('active');
      } else if (section == "production" ) {
        $("#navItem4").addClass('active');
      };

      {% block jquery %}{% endblock %}
    })

  </script>

  <br>

  </body>

</html>

