{% extends "mtn/maint.html" %}

{% block workorders %}

$('#datetimepicker').datetimepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
})

.bootstrap-datetimepicker-widget.dropdown-menu {
	width: auto !important;
}

	<ul>
	  {% for order in orders %}
	      <li>
			{% if order.ordertype == "ST" %}
	        <a href="{% url 'mtn:order' order.id %}" 
	          role="button" class="btn btn-primary btn-sm btn-warning">{{ order }}</a>
	        {% elif order.ordertype == "PM" %}
	          <a href="{% url 'mtn:order' order.id %}" 
	            role="button" class="btn btn-primary btn-sm btn-success">{{ order }}</a>
	        {% else %}
	          <a href="{% url 'mtn:order' order.id %}" 
	            role="button" class="btn btn-primary btn-sm btn-danger">{{ order }}</a>
	        {% endif %}
	        <br>
          </li>
	  {% empty %}
		    <li>No orders have been added yet.</li>
      {% endfor %}
	</ul>
	
{% endblock workorders %}
