{% extends "mtn/base.html" %}

{% block content %}

  <div>
    <a href="{% url 'mtn:new_order' %}" class="btn btn-primary btn-lg btn-block" role="button">Create New Manitenance 
      Work Order</a>
    <br>
    <a href="{% url 'mtn:orders' %}" class="btn btn-primary" role="button">Open Orders</a> - 
    <a href="{% url 'mtn:closed_orders' %}" class="btn btn-primary" role="button">Closed Orders</a>
  </div>
  <br>
  
  <div>
    {% block workorders %}{% endblock workorders %}
  </div>

{% endblock content %}
