{% extends "mtn/base.html" %}

{% load crispy_forms_tags %}

{% block left-menu %}

  <ul>
    <li>
      <a href="" onClick="window.history.back();return false;" class="side-menu-link" role="button">Back</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'equip:presslist' %}">Equipment</a></li>
        <li class="breadcrumb-item"><a href="{% url 'equip:press' press_id %}">Item</a></li>
        <li class="breadcrumb-item active">Add PM</li>
    </ol>
  </div>
  <h4 class="page-title">Add PM</h4>

{% endblock page-title %}

{% block content %}

  <form action="{% url 'mtn:new_order' %}" method='post'>
    {% csrf_token %}

      <div class="row">
        <div class="col">
          {{ form.origin|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.local|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.ordertype|as_crispy_field }}
        </div>
      </div>
      {{ form.descr|as_crispy_field }}
      <br>
      <hr>
      <div class="row">
        <div class="col">
          {{ form.repby|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.repdate|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.cause|as_crispy_field }}
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="timereph" class="">Time of repair, h</label>
            <div class="">
              <input type="number" name="timereph" value="{{ timereph|floatformat }}" min="0" max="99.9" step="0.1" class="numberinput form-control" id="timereph">
            </div>
          </div>
        </div>
      </div>
      {{ form.descrrep|as_crispy_field }}
      {% if order.closed == False %}
        <div class="form-group form-check align-self-center">
          <input type="checkbox" class="form-check-input" name="check_closed" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Closed</label>
        </div>
      {% endif %}
    <button name="submit" role="button" class="btn btn-rahco">Save Changes</button>
    <br>
    <br>
  </form>

{% endblock content %}
