{% extends "mtn/base.html" %}

{% load crispy_forms_tags %}

<script>
  {% block jquery %}

    document.getElementById('id_timerep').setAttribute('value', {{ timereph }});

  {% endblock %}
</script>

{% block left-menu %}

  <ul>
    <li>
      <a href="{% url 'mtn:order' order.id %}" role="button" class="side-menu-link">Back</a>
    </li>
    {% if used_parts %}
      <li>
        <a href="{% url 'mtn:update_parts' order.id %}" role="button" class="side-menu-link">Update parts</a>
      </li>
    {% endif %}
    <li>
      <a href="{% url 'mtn:image' order.id %}" role="button" class="side-menu-link">Add image</a>
    </li>
    <li>
      <a href="{% url 'mtn:dt' order.id %}" role="button" class="side-menu-link">Downtime</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'mtn:order-list' %}">Work orders</a></li>
        <li class="breadcrumb-item"><a href="{% url 'mtn:order' order.id %}">Order</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
  </div>
  <h4 class="page-title">Edit MWO No. {{ order }}</h4>

{% endblock page-title %}

{% block content %}

  {% for key,value in form.errors.items %}
    <div class="col-3 alert alert-danger">
      <strong style="font-size: 1.5rem;">{{ key }}: {{ value|escape }}</strong>
    </div>
  {% endfor %}
  {% if messages %}
    <ul class="messages" style="color:red;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
  {% endif %}

  <form action="{% url 'mtn:edit_order' order.id %}" method='post'>
    {% csrf_token %}
      <div class="row">
        <div class="col">
          {{ form.origin|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.local|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.ordertype|as_crispy_field }}
        </div>
      </div>
      {{ form.descr|as_crispy_field }}
      <br>
      <hr>
      <div class="row">
        <div class="col-3">
          {{ form.repby|as_crispy_field }}
        </div>
        <div class="col-2">
          {{ form.cause|as_crispy_field }}
        </div>
        <div class="col-2">
         {{ form.timerep|as_crispy_field }}
        </div>
      </div>
      {{ form.descrrep|as_crispy_field }}
      {% if order.closed == False %}
        {{ form.closed|as_crispy_field }}
      {% endif %}
    <button name="submit" role="button" class="btn btn-rahco">Save Changes</button>
    <a href="{% url 'mtn:add_part' order.id %}" name="submit" role="button" class="btn btn-rahco">Save and Add Part</a>
    <br>
    <br>
  </form>

  {% if used_parts %}
    <b>Used Parts:</b>
    {% for part in used_parts %}
      <a href="{% url 'invent:part' part.part.id %}">{{ part.part.partnum }} (x{{ part.amount_used }}),&nbsp</a>
    {% endfor %}
  {% endif %}

{% endblock content %}
