{% extends "mtn/base.html" %}

{% load crispy_forms_tags %}

{% block left-menu%}

  <ul>
    <li>
      <a href="{% url 'mtn:order-list' %}" class="side-menu-link" role="button">Back</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'mtn:order-list' %}">Work orders</a></li>
        <li class="breadcrumb-item active">New</li>
    </ol>
  </div>
  <h4 class="page-title">New order</h4>

{% endblock page-title %}

{% block content %}

  <form action="{% url 'mtn:new_order' %}" method='post'>
    {% csrf_token %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          {{ form.origin|as_crispy_field }}
        </div>
        <div class="col-sm">
          {{ form.local|as_crispy_field }}
        </div>
        <div class="col-sm">
          {{ form.ordertype|as_crispy_field }}
        </div>
      </div>
      {{ form.descr|as_crispy_field }}
    </div>
    <button name="submit" role="button" class="btn btn-rahco">Save order</button>
  </form>
</form>

{% endblock content %}
