{% extends "mtn/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

  <p><a href="{% url 'mtn:order' order.id %}" role="button" class="btn btn-primary btn-sm">MWO No {{ order }}</a></p>

  <form action="{% url 'mtn:edit_order' order.id %}" method='post'>
    {% csrf_token %}

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          {{ form.origin|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.local|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.ordertype|as_crispy_field }}
        </div>
      </div>
      {{ form.descr|as_crispy_field }}
      <br>
      <hr>
      <div class="row">
        <div class="col">
          {{ form.repby|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.repdate|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.cause|as_crispy_field }}
        </div>
        <div class="col-2">
          {{ form.timerep|as_crispy_field }}
        </div>
      </div>
      {{ form.descrrep|as_crispy_field }}
      {{ form.closed|as_crispy_field }}
    </div>
    <button name="submit" role="button" class="btn btn-primary btn-sm btn-block">Save Changes</button>
    <br>
    <br>
  </form>

{% endblock content %}
