{% extends "mtn/maint.html" %}

{% block workorders %}

    <table width = "100%" border = "0">
      <tr valign = "top" >
        <td width = "20%">
          <b>MWO No</b>
        </td>
        <td>
          {{ order }}
        </td>
      </tr>
      <tr>
        <td>
          <b>Type</b>
        </td>
        <td>
          {{ order.get_ordertype_display }}
        </td>
      </tr>
     <tr>
        <td>
          <b>Date created</b>
        </td>
        <td>
          {{ order.date_added|date:'M d, Y' }}
        </td>
      </tr>
     <tr>
        <td>
          <b>Originator</b>
        </td>
        <td>
          {{ order.origin }}
        </td>
      </tr>
     <tr>
        <td>
          <b>Location</b>
        </td>
        <td>
          {{ order.local }}
        </td>
      </tr>
     <tr>
        <td>
          <b>Description</b>
        </td>
        <td>
          {{ order.descr }}
        </td>
      </tr>
     <tr>
        <td>
          <b>Repaired by</b>
        </td>
        <td>
          {{ order.repby }}
        </td>
      </tr>
     <tr>
        <td>
          <b>Repair date</b>
        </td>
        <td>
          {{ order.repdate|date:'M d, Y' }}
        </td>
      </tr>
     <tr>
        <td>
          <b>Cause of repair</b>
        </td>
        <td>
          {{ order.get_cause_display }}
        </td>
      </tr>
     <tr>
        <td>
          <b>Description of repair</b>
        </td>
        <td>
          {{ order.descrrep }}
        </td>
      </tr>
      <tr>
        <td>
          <b>Time of repair</b>
        </td>
        <td>
          {{ order.timerep }}
        </td>
      </tr>
    </table> 

      {% load poll_extras %}
      </p>
      {% if request.user|has_group:"maintenance" %} 
         <p>
          <a href="{% url 'mtn:edit_order' order.id %}" role="button" 
			class="btn btn-primary btn-sm">Edit</a>
         </p>
      {% else %}
      <p>User doesn't have permission to change order.</p>
      {% endif %}
  {% endblock workorders %}
