{% extends "mtn/base.html" %}

{% load crispy_forms_tags %}

<script>
  {% block jquery %}

    function localSetup() {
      var mold = $("#id_mold").val();
      var group = $("#groupSelect").val();
      if (group == "TL" || mold != ""){
          $("#localField").hide();
          $("#moldField").show();
          $("#groupSelect").val("TL");
          group = "TL";
        } else {
          $("#localField").show();
          $("#moldField").hide();
      };
      if(group != "PR"){
        $("#subgroupField").hide();
      } else {
        $("#subgroupField").show();
      };
    };

    localSetup();

    $("#groupSelect, #subgroupSelect").change(function () {
      var endpoint = "{% url 'mtn:ajax_new_order' %}";
      var group = $("#groupSelect").val();
      var subgroup = $("#subgroupSelect").val();
      $.ajax({
        url: endpoint,
        data: {
          'group': group,
          'subgroup': subgroup,
        },
        success: function (data) {
          localSetup();
          $("#id_local").html(data);
        }
      });
    });

  {% endblock %}
</script>

{% block left-menu%}

  <ul>
    <li>
      <a href="" onClick="window.location.replace(document.referrer);return false;" class="side-menu-link" role="button">Back</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'mtn:order-list' %}">Work orders</a></li>
        <li class="breadcrumb-item active">New</li>
    </ol>
  </div>
  <h4 class="page-title">New order</h4>

{% endblock page-title %}

{% block content %}

  {% for key,value in form.errors.items %}
    <div class="col-3 alert alert-danger">
      <strong style="font-size: 1.5rem;">{{ value|escape }}</strong>
    </div>
  {% endfor %}
  {% if messages %}
    <ul class="messages" style="color:red;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
  {% endif %}

  <form method='post' id="orderForm" novalidate>
    {% csrf_token %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          {{ form.origin|as_crispy_field }}
        </div>
        <div class="form-group col-sm" id="groupField">
          <label class="requiredField" for="group_select">Group</label>
          <select class="form-control" name="group" id="groupSelect">
            <option value="PR">Production</option>
            <option value="GN">General</option>
            <option value="BD">Building</option>
            <option value="LF">Lifting equipment</option>
            <option value="TL">Tooling</option>
          </select>
        </div>
        <div class="form-group col-sm" id="subgroupField">
          <label class="requiredField" for="subgroup_select">Type</label>
          <select class="form-control" name="subgroup" id="subgroupSelect">
            <option value="">All</option>
            <option value="CN">Conventional</option>
            <option value="VC">Vacuum</option>
            <option value="IN">Injection</option>
            <option value="PN">Punching</option>
            <option value="OT">Other</option>
          </select>
        </div>
        <div class="col-sm" id="localField">
          {{ form.local|as_crispy_field }}
        </div>
        <div class="col-sm" id="moldField">
          {{ form.mold|as_crispy_field }}
        </div>
        <div class="col-sm">
          {{ form.ordertype|as_crispy_field }}
        </div>
      </div>
      {{ form.descr|as_crispy_field }}
      {{ form.status|as_crispy_field }}
    </div>
    <button name="submit" role="button" class="btn btn-rahco">Save order</button>
  </form>

{% endblock content %}

