{% extends "mtn/base.html" %}

<script>
  {% block jquery %}

    $("#checkbox-container :checkbox").change(function() {
      document.getElementById('selectform').submit();
    });

    $("#searchButton").click(function() {
      if($("#collapseSearch").is(":visible")){
        $("#query").val('');
        document.getElementById('selectform').submit();
      } else {
        $("#collapseSearch").show("slow");
      }
    });

  {% endblock %}
</script>

{% block left-menu%}

  <ul>
    {% if press_excl == False %}
      <li>
        <a href="{% url 'mtn:new_order' %}" class="side-menu-link" role="button">+ New Order</a>
      </li>
    {% else %}
      <li>
        <a href="{% url 'equip:press' press_id %}" class="side-menu-link" role="button">Back</a>
      </li>
    {% endif %}
    <li>
        <a class="side-menu-link" role="button" id="searchButton">Search</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  {% if press_excl == False %}

    <div class="page-title-right">
      <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
          <li class="breadcrumb-item active"> Work Orders</li>
      </ol>
    </div>
    <h4 class="page-title">Work Orders</h4>

  {% else %}

    <div class="page-title-right">
      <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
          <li class="breadcrumb-item"><a href="{% url 'equip:presslist' %}">Equipment</a></li>
          <li class="breadcrumb-item"><a href="{% url 'equip:press' press_id %}">Item</a></li>
          <li class="breadcrumb-item active">Orders</li>
      </ol>
    </div>
    <h4 class="page-title">Work Orders for {{ press }}</h4>

  {% endif %}

{% endblock page-title %}

{% block content %}

  <form method="GET" action="" id="selectform">

    <div class="{{ search_exp }}" id="collapseSearch">
      <div class="form-row">
        <div class="form-group col-3 align-self-center">
          <input class="form-conrol py-2 border" style="border-radius:5px; width:20rem;" type="search" placeholder=" Find work order" id="query" name="query" value="{{ query }}">
        </div>
        <div class="form-group col align-self-center ml-4">
         <button type="submit" class="btn btn-rahco">Search</button>
        </div>
      </div>
      {% if count >= 0 and query != None %}
        <div class='row my-3'>
            <div class='col-12 py-0'>
                <h4 class='my-0 py-0'>{{ count }} results for <b>"{{ query|default:"" }}"</b></h4>
            </div>
        </div>
      {% endif %}
      <hr />
    </div>

    <div class="container mx-0" id="checkbox-container">
      <div class="form-check">
        {% if closed %}
          <input type="checkbox" class="form-check-input" name="closed" id="closed" checked>
        {% else %}
          <input type="checkbox" class="form-check-input" name="closed" id="closed" >
        {% endif %}
        <label class="form-check-label" for="closed">Show closed</label>
      </div>
    </div>

  </form>

  <br>
  <div class="row">
    {% for order in object_list %}
      <div class="col-md-6 col-xl-3">
        <!-- project card -->
        <a href="{% url 'mtn:order' order.id %}">
          <div class="card d-block">
            <div class="card-body">
              <!-- project title-->
              <h4 class="mt-0">
                  <span class="text-title">{{ order.local }}</span>
              </h4>
              {% if order.ordertype == "ST" %}
                <div class="badge badge-warning mb-3">Setup</div>
              {% elif order.ordertype == "PM" %}
                <div class="badge badge-info mb-3">PM</div>
              {% else %}
                <div class="badge badge-danger mb-3">Repair</div>
              {% endif %}
              <div class="float-right">
                {{ order.get_status_display }}
                <svg id="Layer_1" enable-background="new 0 0 511.448 511.448" height="30" viewBox="0 0 511.448 511.448" width="30" xmlns="http://www.w3.org/2000/svg"><path d="m436.508 74.94c-99.913-99.913-261.64-99.928-361.567 0-99.913 99.913-99.928 261.64 0 361.567 99.913 99.913 261.64 99.928 361.567 0 99.912-99.912 99.927-261.639 0-361.567zm-180.784 394.45c-117.816 0-213.667-95.851-213.667-213.667s95.851-213.666 213.667-213.666 213.666 95.851 213.666 213.667-95.85 213.666-213.666 213.666z"/><path d="m298.39 160.057c-11.598 0-21 9.402-21 21v149.333c0 11.598 9.402 21 21 21s21-9.402 21-21v-149.333c0-11.598-9.401-21-21-21z"/><path d="m213.057 160.057c-11.598 0-21 9.402-21 21v149.333c0 11.598 9.402 21 21 21s21-9.402 21-21v-149.333c0-11.598-9.401-21-21-21z"/></svg>
              </div>
              <p class="text-muted font-13 mb-3">{{ order.descr }}</p>
              <!-- project detail-->
              {% if order.closed %}
              <p class="mb-1">
                <span class="pr-2 mb-2 d-inline-block">
                  <b>Closed:</b> {{ order.repdate }}
                </span>
              </p>
              {% else %}
                <p class="mb-1">
                  <span class="pr-2 mb-2 d-inline-block">
                    <b>Opened:</b> {{ order.date_added|date:"M j, f a" }}
                  </span>
                </p>
              {% endif %}
            </div> <!-- end card-body-->
          </div> <!-- end card-->
        </a>
      </div> <!-- end col -->
    {% empty %}
      <p>No orders found.</p>
    {% endfor %}
  </div>
  <!-- end row-->

  <br>
  <div class="container">
    <div class="row justify-content-center">
      {% if page_obj.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation example" style="background-color: #fafbfe;">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1;{{ page_kwargs }}" aria-label="First">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ page_kwargs }}" aria-label="Previous">
                  <span>{{ page_obj.previous_page_number }}</span>
                </a>
              </li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}&{{ page_kwargs }}"><span>{{ page_obj.number }}</span></a></li>
           {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ page_kwargs }}" aria-label="Next">
                  <span>{{ page_obj.next_page_number }}</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ page_kwargs }}" aria-label="Last">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>

{% endblock content %}
