{% extends "mtn/maint.html" %}

{% block workorders %}

  <p><b>MWO No: </b>{{ order }}</p>
  
      <p><b>Date: </b>{{ order.date_added|date:'M d, Y' }}</p>
      <p><b>Originator: </b>{{ order.origin }}</p>
      <p><b>Machine # or location of problem: </b>{{ order.local }}</p>
      <p><b>Description of problem: </b>{{ order.descr }}</p>
  <br>    
  <br>
  <p><b>Repair: </b></p>
      <p><b>Repaired by: </b>{{ order.repby }}</p>
      <p><b>Date: </b>{{ order.date_added|date:'M d, Y' }}</p>
      <p><b>Cause of repair: </b>{{ order.get_cause_display }}</p>
      <p><b>Description of repair: </b>{{ order.descrrep }}</p>
      <p><b>Time to repair: </b>{{ order.timerep }} hours</p>
      {% load poll_extras %}
      </p>
      {% if request.user|has_group:"maintenance" %} 
         <p>
          <a href="{% url 'mtn:edit_order' order.id %}" role="button" class="btn btn-primary btn-sm">Edit</a>
         </p>
      {% else %}
      <p>User doesn't have permission to change order.</p>
      {% endif %}
  {% endblock workorders %}
