{% extends "mtn/base.html" %}
{% load mtn_extras %}

<script>
  {% block jquery %}

    $("#checkbox-container :checkbox").change(function() {
      document.getElementById('selectform').submit();
    });

    $("#checkbox-container :radio").change(function() {
      document.getElementById('selectform').submit();
    });

    $("#searchButton").click(function() {
      if($("#collapseSearch").is(":visible")){
        $("#query").val('');
        document.getElementById('selectform').submit();
      } else {
        $("#collapseSearch").show("slow");
      }
    });

  {% endblock %}
</script>

{% block left-menu%}

  <ul>
    {% if press_excl == False %}
      <li>
        <a href="{% url 'mtn:new_order' %}" class="side-menu-link" role="button">+ New Order</a>
      </li>
    {% else %}
      <li>
        <a href="{% url 'equip:press' press_id %}" class="side-menu-link" role="button">Back</a>
      </li>
    {% endif %}
    <li>
      <a class="side-menu-link" role="button" id="searchButton">Search</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  {% if press_excl == False %}

    <div class="page-title-right">
      <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
          <li class="breadcrumb-item active"> Work Orders</li>
      </ol>
    </div>
    <h4 class="page-title">Work Orders</h4>

  {% else %}

    <div class="page-title-right">
      <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
          <li class="breadcrumb-item"><a href="{% url 'equip:presslist' %}">Equipment</a></li>
          <li class="breadcrumb-item"><a href="{% url 'equip:press' press_id %}">Item</a></li>
          <li class="breadcrumb-item active">Orders</li>
      </ol>
    </div>
    <h4 class="page-title">Work Orders for {{ press }}</h4>

  {% endif %}

{% endblock page-title %}

{% block content %}

  <form method="GET" action="" id="selectform">
    <div class="{{ search_exp }}" id="collapseSearch">
      <div class="form-row">
        <div class="form-group col-3 align-self-center">
          <input class="form-conrol py-2 border" style="border-radius:5px; width:20rem;" type="search" placeholder=" Find work order" id="query" name="query" value="{{ query }}">
        </div>
        <div class="form-group col align-self-center ml-4">
         <button type="submit" class="btn btn-rahco">Search</button>
        </div>
      </div>
      {% if count >= 0 and query != None %}
        <div class='row my-3'>
            <div class='col-12 py-0'>
                <h4 class='my-0 py-0'>{{ count }} results for <b>"{{ query|default:"" }}"</b></h4>
            </div>
        </div>
      {% endif %}
      <hr />
    </div>
    <div class="container mx-0" id="checkbox-container">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline7" name="closed" class="custom-control-input" value="off" {% if closed == 'off' %}checked{% endif %}>
        <label class="custom-control-label" for="customRadioInline7">All</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline8" name="closed" class="custom-control-input"  {% if closed != 'off' and closed != 'yes' %}checked{% endif %}>
        <label class="custom-control-label" for="customRadioInline8">Open</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline9" name="closed" class="custom-control-input" value="yes" {% if closed == 'yes' %}checked{% endif %}>
        <label class="custom-control-label" for="customRadioInline9">Closed</label>
      </div>
      <span class="ml-3 mr-4">|</span>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline6" name="ordertype" class="custom-control-input" {% if ordertype != 'repair' and ordertype != 'setup' and ordertype != 'mod' %}checked{% endif %}>
        <label class="custom-control-label" for="customRadioInline6">All</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline4" name="ordertype" class="custom-control-input" value="repair" {% if ordertype == 'repair' %}checked{% endif %}>
        <label class="custom-control-label" for="customRadioInline4">Repair</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline5" name="ordertype" class="custom-control-input" value="setup" {% if ordertype == 'setup' %}checked{% endif %}>
        <label class="custom-control-label" for="customRadioInline5">Setup</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline11" name="ordertype" class="custom-control-input" value="mod" {% if ordertype == 'mod' %}checked{% endif %}>
        <label class="custom-control-label" for="customRadioInline11">Mod</label>
      </div>
      <span class="ml-3 mr-4">|</span>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="lead" class="custom-control-input" {% if lead != 'personal' and lead != 'personal2' and lead != 'unassigned' %}checked{% endif %}>
        <label class="custom-control-label" for="customRadioInline1">All</label>
      </div>
      {% if request.user|has_group:"maintenance" %}
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="lead" class="custom-control-input" value="personal" {% if lead == 'personal' %}checked{% endif %}>
          <label class="custom-control-label" for="customRadioInline2">Personal</label>
        </div>
         <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline3" name="lead" class="custom-control-input" value="unassigned" {% if lead == 'unassigned' %}checked{% endif %}>
          <label class="custom-control-label" for="customRadioInline3">Unassigned</label>
       </div>
      {% else %}
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline10" name="lead" class="custom-control-input" value="personal2" {% if lead == 'personal2' %}checked{% endif %}>
          <label class="custom-control-label" for="customRadioInline10">Personal</label>
        </div>
      {% endif %}
    </div>
  </form>

  <br>
  <div class="row">
    {% for order in object_list %}
      <div class="col-md-6 col-xl-3">
        <!-- project card -->
          <div class="card d-block">
            <div class="card-body">
              <!-- project title-->
              <h4 class="mt-0">
                <a {% if order.closed == False and request.user|has_group:"maintenance"%}href="{% url 'mtn:edit_order' order.id %}"{% else %}href="{% url 'mtn:order' order.id %}"{% endif %}>
                  <span class="text-title">{{ order.local }}</span>
                </a>
              </h4>
              {% if order.closed == False and request.user|has_group:"maintenance"%}
                <div type="button" class="float-right mx-3 repairToggle">
                {% if order.status == 'RE' %}
                  <a href="{% url 'mtn:repair_toggle' pk=order.id func='stop' %}">
                    {% include 'mtn/elements/pause-button.html'%}
                  </a>
                {% else %}
                  <a href="{% url 'mtn:repair_toggle' pk=order.id func='start' %}">
                    {% include 'mtn/elements/start-button.html'%}
                  </a>
                {% endif %}
                {% if order.status != 'AP' %}
                  <a href="{% url 'mtn:repair_toggle' pk=order.id func='parts' %}">
                    {% include 'mtn/elements/parts-button.html'%}
                  </a>
                {% endif %}
                {% if order.status != 'SB' %}
                  <a href="{% url 'mtn:repair_toggle' pk=order.id func='ready' %}">
                    {% include 'mtn/elements/ok-button.html'%}
                  </a>
                {% endif %}
                </div>
              {% endif %}
              {% if order.ordertype == "ST" %}
                <div class="badge badge-warning mb-3">Setup</div>
              {% elif order.ordertype == "MD" %}
                <div class="badge badge-info mb-3">Mod</div>
              {% else %}
                <div class="badge badge-danger mb-3">Repair</div>
              {% endif %}
              <p class="text-muted font-13 mb-3">{{ order.descr|truncatewords:18 }}</p>
              <!-- project detail-->
              {% if order.closed %}
              <p class="mb-1">
                <span class="pr-2 mb-2 d-inline-block">
                  <b>Status: </b> Closed
                </span>
              </p>
              {% else %}
                <p class="mb-1">
                  <span class="pr-2 mb-2 d-inline-block">
                    <b>Opened:</b> {{ order.date_added|date:"M j, f a" }}
                  </span>
                </p>
                <p class="mb-1">
                  <span class="pr-2 mb-2 d-inline-block">
                    <b>Status:</b> {{ order.get_status_display }}
                  </span>
                </p>
              {% endif %}
              <p class="mb-1">
                <span class="pr-2 mb-2 d-inline-block">
                  <b>Lead:</b> {{ order.repby }}
                </span>
              </p>
              {% if order.descrrep %}
                <b>Repair: </b><span class="text-muted font-13 mb-3">{{ order.descrrep|truncatewords:18 }}</span>
              {% endif %}
            </div> <!-- end card-body-->
          </div> <!-- end card-->
        </a>
      </div> <!-- end col -->
    {% empty %}
      <p>No orders found.</p>
    {% endfor %}
  </div>
  <!-- end row-->

  <br>
  <div class="container">
    <div class="row justify-content-center">
      {% if page_obj.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation example" style="background-color: #fafbfe;">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1;{{ page_kwargs }}" aria-label="First">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ page_kwargs }}" aria-label="Previous">
                  <span>{{ page_obj.previous_page_number }}</span>
                </a>
              </li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}&{{ page_kwargs }}"><span>{{ page_obj.number }}</span></a></li>
           {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ page_kwargs }}" aria-label="Next">
                  <span>{{ page_obj.next_page_number }}</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ page_kwargs }}" aria-label="Last">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>

{% endblock content %}
