{% extends "mtn/base.html" %}
{% load mtn_extras %}

{% block left-menu %}

  <ul>
    <li>
      <a href="" onClick="window.location.replace(document.referrer);return false;" class="side-menu-link" role="button">Back</a>
    </li>
    {% if request.user|has_group:"maintenance" %}
      {% if order.closed == False %}
        <li>
          <a href="{% url 'mtn:edit_order' order.id %}" role="button" class="side-menu-link">Update order</a>
        </li>
      {% endif %}
      <li>
        <a href="{% url 'mtn:add_part' order.id %}" role="button" class="side-menu-link">Add part</a>
      </li>
      {% if used_parts %}
        <li>
          <a href="{% url 'mtn:update_parts' order.id %}" role="button" class="side-menu-link">Update parts</a>
        </li>
      {% endif %}
      <li>
        <a href="{% url 'mtn:image' order.id %}" role="button" class="side-menu-link">Add Image</a>
      </li>
    {% endif %}
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'mtn:order-list' %}">Work orders</a></li>
        <li class="breadcrumb-item active">Order</li>
    </ol>
  </div>
  <h4 class="page-title">MWO No. {{ order }}</h4>

{% endblock page-title %}

{% block content %}

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header supervisor"><b>Status:</b></div>
        <div class="card-body">
          <p class="card-text">{{ order.get_status_display }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header supervisor"><b>Originator:</b></div>
        <div class="card-body">
          <p class="card-text">{{ order.origin }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header supervisor"><b>Location:</b></div>
        <div class="card-body">
          <a href="{% url 'equip:press' order.local.id %}">
            <p class="card-text">{{ order.local }}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header supervisor"><b>Type:</b></div>
        <div class="card-body">
          <p class="card-text">{{ order.get_ordertype_display }}</p>
        </div>
      </div>
    </div>
    <div class="col">
       <div class="card">
        <div class="card-header supervisor"><b>Date:</b></div>
        <div class="card-body">
          <p class="card-text">{{ order.date_added|date:'M d, Y h:m A' }}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
       <div class="card">
        <div class="card-header supervisor"><b>Description:</b></div>
        <div class="card-body">
          <p class="card-text">{{ order.descr }}</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-xl-3">
       <div class="card">
        <div class="card-header repair"><b>Repaired by:</b></div>
        <div class="card-body">
          <p class="card-text">{{ order.repby }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
       <div class="card">
        <div class="card-header repair"><b>Cause of repair:</b></div>
        <div class="card-body">
          <p class="card-text">{{ order.get_cause_display }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
       <div class="card">
        <div class="card-header repair"><b>Downtime:</b></div>
        <div class="card-body">
          <p class="card-text">{{ timereph|floatformat }} hours</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 col-xl-6">
      <div class="card">
        <div class="card-header repair"><b>Description of repair:</b></div>
        <div class="card-body">
          <p class="card-text">{{ order.descrrep }}</p>
        </div>
      </div>
      <br>
    </div>
    <div class="col-md-9 col-xl-4">
      <div class="card">
        <div class="card-header repair"><b>Parts: </b></div>
        <div class="card-body">
          <p class="card-text">
            {% for part in used_parts %}
              {% if part.marked_to_delete %}
                <a href="{% url 'invent:part' part.part.id %}" style="color:#FF0000; text-decoration:line-through;">{{ part.part.partnum }} (x{{ part.amount_used }}),&nbsp</a>
              {% else %}
                <a href="{% url 'invent:part' part.part.id %}">{{ part.part.partnum }} (x{{ part.amount_used }}),&nbsp</a>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
      <br>
    </div>
    <div class="col-md-3 col-xl-2">
      <div class="card">
        <div class="card-header repair"><b>Cost of Repair:</b></div>
        <div class="card-body">
          <p class="card-text">${{ cost_of_repair }}</p>
        </div>
      </div>
    </div>
  </div>
  {% if images %}
    <div class="card">
      <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="card-header repair">
          <b>Show images</b>
        </div>
      </a>
      <div class="collapse" id="collapseExample">
        <div class="card-body">
          {% for image in images %}
          <p>
          <a href="{{ MEDIA_URL }}{{ image }}">
            <img src="{{ MEDIA_URL }}{{ image }}">
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}
