{% extends "mtn/base.html" %}

{% load poll_extras %}

{% block left-menu %}

  {% if request.user|has_group:"manager" %}
    <ul>
      <li>
        <a href="{% url 'prod:upload' %}" class="side-menu-link" role="button">Upload</a>
      </li>
    </ul>
  {% endif %}

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item active">Jobs</li>
    </ol>
  </div>
  <h4 class="page-title">Production schedule</h4>

{% endblock page-title %}

{% block content %}

  <div class="container justify-content-start ml-1">
    <table>
      {% for object in object_list %}
        <tr class="clickable-row row border justify-content-start" data-href="" style="width:500px;">
          <th class="col-4 border-right align-self-center my-2">
            {{ object.press }}
          </th>
          <th class="col-4 border-right align-self-center">
            {{ object.job }}
          </th>
          <th class="col-4 align-self-center">
            {{ object.get_shift_display }}
          </th>
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock content %}
