{% extends "mtn/base.html" %}
{% load mtn_extras %}

{% block left-menu %}

  {% if request.user|has_group:"manager" %}
    <ul>
      <li>
        <a href="{% url 'prod:upload' %}" class="side-menu-link" role="button">Upload</a>
      </li>
    </ul>
  {% endif %}

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item active">Jobs</li>
    </ol>
  </div>
  <h4 class="page-title">Scheduled Jobs</h4>

{% endblock page-title %}

{% block content %}

  <div class="container justify-content-center ml-1">
    <table>
      <tr class="row border">
        <th class="col-3 border-right align-self-center my-2">
          Press
        </th>
        <th class="col-3 border-right align-self-center my-2">
          {{ today }} - 1st shift
        </th>
        <th class="col-3 border-right align-self-center my-2">
          {{ today }} - 2nd shift
        </th>
        <th class="col-3 align-self-center my-2">
          {{ tomorrow }} - 1st shift
        </th>
      </tr>
      {% for object in object_list %}
        <tr class="row border">
          <th class="col-3 border-right align-self-center">
            <a href="{% url 'equip:press' object.id %}">
              {{ object }}
            </a>
          </th>
          <th class="col-3 border-right align-self-center {% if object|press_is_up1:today %} prsched {% endif %}">
            <p class="prschedtb">Not scheduled</p>
          </th>
          <th class="col-3 border-right align-self-center {% if object|press_is_up2:today %} prsched {% endif %}">
            <p class="prschedtb">Not scheduled</p>
          </th>
          <th class="col-3 align-self-center {% if object|press_is_up1:tomorrow %} prsched {% endif %}">
            <p class="prschedtb">Not scheduled</p>
          </th>
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock content %}
