{% extends "mtn/base.html" %}

{% load poll_extras %}

<script>
  {% block jquery %}

  $(function () {
    $('#datetimepicker').datetimepicker({
      format: 'L'
    });
  });

  {% endblock %}
</script>

{% block left-menu %}

  <ul>
    <li>
      <a href="{% url 'prod:job-list' %}" class="side-menu-link" role="button">Back</a>
    </li>
  </ul>

{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item"><a href="{% url 'prod:job-list' %}">Jobs</a></li>
        <li class="breadcrumb-item active">Schedule</li>
    </ol>
  </div>
  <h4 class="page-title">Production schedule</h4>

{% endblock page-title %}

{% block content %}

  {% if formset.errors %}
    {% for field in formset %}
      {% for key,value in field.errors.items %}
        <div class="col-3 alert alert-danger">
          <strong>{{ value|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if messages %}
    <ul class="messages" style="color:red;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    {{ formset.management_form }}
    <div class="row">
      <div class="col-3 mr-3">
        <label>Date:</label>
        <input type="text" class="form-control datetimepicker-input" id="datetimepicker" name="dateinput" data-toggle="datetimepicker" data-target="#datetimepicker"/>
      </div>
      <div class="custom-control custom-radio custom-control-inline align-self-center mt-4">
        <input type="radio" id="customRadioInline1" name="shiftinput" class="custom-control-input" value="1">
        <label class="custom-control-label" for="customRadioInline1">1st Shift</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline align-self-center mt-4">
        <input type="radio" id="customRadioInline2" name="shiftinput" class="custom-control-input" value="0">
        <label class="custom-control-label" for="customRadioInline2">2nd Shift</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline align-self-center mt-4">
        <input type="radio" id="customRadioInline3" name="shiftinput" class="custom-control-input" value="2">
        <label class="custom-control-label" for="customRadioInline3">3rd Shift</label>
      </div>
      {% if request.user|has_group:"manager" %}
        <div class="col align-self-center mt-4 ml-3">
          <button name="submit" role="button" class="btn btn-rahco">Schedule</button>
        </div>
      {% endif %}
    </div>
    <br>
    <div class="row">
      <div class="col-2 pl-4">Press</div>
      <div class="col-1">Job</div>
      <div class="col-9">Comment</div>
    </div>
    {% for form in formset %}
    <div class="row prsch" >
      <div class="col-2 pr-0">{{ form.press }}{{ form.press.errors }}</div>
      <div class="col-1 px-0">{{ form.job }}{{ form.job.errors }}</div>
      <div class="col-9 pl-0">{{ form.comment }}{{ form.comment.errors }}</div>
    </div>
    {% endfor %}
  </form>

{% endblock content %}
