{% extends "mtn/base.html" %}

<script>
  {% block jquery %}

    $("#sidebarBlock").hide();

  {% endblock %}
</script>

{% block left-menu %}{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item active">Employees</li>
    </ol>
  </div>
  <h4 class="page-title">Staff</h4>

{% endblock page-title %}

{% block content %}

	<div class="container ml-0 pl-0 mt-4">
    <ul>
  	  {% for employee in employees %}
        <li>
          <div class="row" style="height: 35px">
            <p>{{ employee }} ({{ employee.get_role_display }})</p>
          </div>
        </li>
  	  {% empty %}
  		  <li>No employees have been added yet.</li>
      {% endfor %}
  	</ul>
  </div>

{% endblock content %}



