{% extends "mtn/base.html" %}

<script>
  {% block jquery %}

    $("#sidebarBlock").hide();

  {% endblock %}
</script>

{% block left-menu %}{% endblock left-menu %}

{% block page-title %}

  <div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'mtn:index' %}">Rahco</a></li>
        <li class="breadcrumb-item active">Employees</li>
    </ol>
  </div>
  <h4 class="page-title">Staff</h4>

{% endblock page-title %}

{% block content %}

  <div class="container justify-content-start ml-1">
    <table>
      {% for employee in employees %}
        <tr class="row border justify-content-start" style="width:500px;">
          <th class="col-8 border-right text-nowrap text-truncate align-self-center my-2">
            {{ employee }}
          </th>
          <th class="col-4 border-right text-nowrap text-truncate align-self-center">
            {{ employee.get_role_display }}
          </th>
        </tr>
      {% empty %}
        <li>No employees have been added yet.</li>
      {% endfor %}
    </table>
  </div>

{% endblock content %}



